<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- 配置注解驱动 -->
	<mvc:annotation-driven />
    <!-- 引入资源文件-->
    <context:property-placeholder location="classpath:properties/sys.properties,classpath:properties/merchantInfo.properties" />
	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 该文件上传的视图解析器的id必须配，而且id的值是multipartResolver -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="104857600" />
		<property name="maxInMemorySize" value="4096" />
	</bean>
	<!-- 配置包扫描器，扫描@Controller注解的类 -->
	<context:component-scan base-package="com.sliver.controller.*"/>
	<!-- 配置资源映射 -->
	<mvc:resources location="/css/" mapping="/css/**"/>
	<mvc:resources location="/js/" mapping="/js/**"/>
	<mvc:resources location="/admin/" mapping="/admin/**"/>
	<mvc:resources location="/public/" mapping="/public/**"/>
	<!--<mvc:resources location="/static/" mapping="/static/**"/>-->
	<mvc:resources location="/statics/" mapping="/statics/**"/>
	<mvc:resources location="/common/" mapping="/common/**"/>
    <!--解决乱码问题-->
    <mvc:annotation-driven >
        <mvc:message-converters >
            <!-- 解决@ResponseBody中文乱码 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value = "text/plain;charset=UTF-8" />
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/register/**"/>
            <mvc:exclude-mapping path="/login/**"/>
            <mvc:exclude-mapping path="/yanzhengma/**"/>
            <!--文件-->
            <mvc:exclude-mapping path="/file/listFile.do"/>
            <!--版块-->
            <mvc:exclude-mapping path="/board/listBoard.do"/>
            <!--帖子-->
            <mvc:exclude-mapping path="/post/listPostByBoardId.do"/>
            <mvc:exclude-mapping path="/post/toSearchList.do"/>
            <mvc:exclude-mapping path="/post/listPostByKeyword.do"/>
            <mvc:exclude-mapping path="/post/toPost.do"/>
            <mvc:exclude-mapping path="/postReply/postReplyList.do"/>
            <!--公共信息-->
            <mvc:exclude-mapping path="/publicInfo/toListPublicInfoManageUI.do"/>
            <mvc:exclude-mapping path="/publicInfo/listPublicInfo.do"/>
            <mvc:exclude-mapping path="/publicInfo/toPublicInfo.do"/>
            <!--问题-->
            <mvc:exclude-mapping path="/question/listQuestion.do"/>
            <mvc:exclude-mapping path="/question/toQuestionDetail.do"/>
            <mvc:exclude-mapping path="/answer/answerList.do"/>
            <mvc:exclude-mapping path="/*"/>
            <bean class="com.sliver.interceptor.LoginedInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/admin/**"/>
            <bean class="com.sliver.interceptor.AdminInterceptor"/>
        </mvc:interceptor>

    </mvc:interceptors>
</beans>